@import 'tailwindcss';

@font-face {
   font-family: Mozilla_Text;
   src: url(fonts/MozillaText/MozillaText-Variable.woff2);
   font-display: swap;
}
@font-face {
   font-family: Mozilla_Headline;
   src: url(fonts/MozillaHeadline/MozillaHeadline-Variable.woff2);
   font-display: swap;
}

@theme {
   --font-mozilla: Mozilla_Text, var(--font-sans);
   --font-mozilla-headline: Mozilla_Headline, var(--font-sans);
}

@layer components {
   .h1 {
      @apply font-mozilla-headline text-4xl font-bold text-zinc-50;
   }

   .sidebar__item {
      @apply bg-zinc-900 p-3 mb-3 rounded-md grid items-center gap-4 font-medium
         relative grid-cols-[min-content_1fr] overflow-hidden transition-all
         duration-200 hover:text-zinc-50;
   }
}
